/*#top div
{
	display: inline-block;
}
.one {
    width: 350px;
    float: left;
}
.two {
    margin-left: 350px;
}
body {font-family: monospace; line-height: 160%; font-size: 18px; }
input {border: 1px dotted #ccc; background: white; font-family: monospace; padding: 10px 20px; font-size: 18px; margin: 20px 10px 20px 0; color: red;}
input:focus { background-color:yellow; outline: none;}
*/

ul {list-style: none; margin: 0; padding: 0;}
div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: #212121;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}
  .logo {
      color: #f4511e;
      font-size: 200px;
}

.histo_title {
  text-align: center;
}

.current_hovered_histo
{
  border: 1px solid #000000;
}

.current_histo_a
{
  /*green*/
  background-color: #C8F485;
}

.current_histo_b
{
  /*red*/
  background-color: #FF988A;
}
/*
.check-common .btn-primary{
    background-color: #000000;	
    border-color: #000000;
}

.check-uncommon .btn-primary{
    background-color: #424449;	
    border-color: #424449;
}

.check-rare .btn-primary{
    background-color: #FFB401;	
    border-color: #FFB401;
}
.check-mythic .btn-primary{
    background-color: #A12417;	
    border-color: #A12417;
}

*/



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.toggle_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.toggle_slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle_slider {
  background-color: #2196F3;
}

input:focus + .toggle_slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle_slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded toggle_sliders */
.toggle_slider.round {
  border-radius: 34px;
}

.toggle_slider.round:before {
  border-radius: 50%;
}

.Common
{
    background-color: #a0a0a0;  
}
.Uncommon
{
    background-color: #ced6e8;  
}
.Rare
{
    background-color: #ffd26b;
}
.Mythic
{
    background-color: #ff9156;  
}


input:checked + .Common
{
    background-color: #000000;  
}
input:checked + .Uncommon
{
    background-color: #686b72;  
}
input:checked + .Rare
{
    background-color: #FFB401;
}
input:checked + .Mythic
{
    background-color: #d63302;  
}

